@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400&family=Josefin+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 55%);
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --font-base: 15px;

  /* Font Variables */
  --body: "Alata", sans-serif;
  --heading: "Josefin Sans", sans-serif;
  --body-weight: 400;
  --heading-weight: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: var(--body);
  font-size: var(--font-base);
  font-weight: var(--body-weight);
}
.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--heading);
  font-weight: var(--heading-weight);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
