@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400&family=Josefin+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 55%);

  /* Font Variables */
  --body: "Alata", sans-serif;
  --heading: "Josefin Sans", sans-serif;
  --body-weight: 400;
  --heading-weight: 300;
  --font-base: 15px;
}

body {
  font-family: var(--body);
  font-size: var(--font-base);
  font-weight: var(--body-weight);
}
.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--heading);
  font-weight: var(--heading-weight);
}
.flicker-effect:hover {
  animation: flicker 0.45s forwards;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  16.67%,
  50% {
    opacity: 0.7;
  }
  33.33% {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  /* Black underline */
  .black-underline {
    --underline-color: black;
  }

  /* White underline */
  .white-underline {
    --underline-color: white;
  }
  .underline-hover {
    text-decoration: none;
    position: relative;
  }

  .underline-hover::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 3px;
    bottom: -6px;
    left: 0;
    background: var(--underline-color);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  .underline-hover:hover::before {
    transform: scaleX(1);
  }
}

@media (max-width: 375px) {
  .small-banner {
    font-size: clamp(0.8rem, 10.6667vw, 2.5rem);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
